.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    // background-color: #777;
    background-color: var(--color1);
    // border: 2px solid #555;
    border: 2px solid var(--color2);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 40px;
    height: 21px;
}

.toggle label::after {
    background-color: var(--color2);
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 1px;
    transition: all ease-in-out 0.3s;
    width: 15px;
    height: 15px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: var(--color1);
    border-color: var(--color2);
}

.toggle input[type='checkbox']:checked ~ label::after {
    // background-color: #0054b0;
    transform: translateX(17px);
}