
.AboutSection {
    width: 60%;

    & a {
        color: var(--color2);
        padding: 3px;

        &:hover, &:focus {
            outline: 1px solid var(--color2);
        }
    }
}

.Brand {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

    & > * {
        margin: 5px 0;
    }

    & > h1 {
        font-size: 40px;
        color: var(--color2);
    }

    & > p {
        color: var(--color3);
        text-align: center;
    }

    & > .Img {
        width: 100%;
        height: auto;

        & > img {
            height: 100%;
            width: 100%;
        }
    }
}

.About {
    width: 100%;
    margin-top: 30px;

    & > * {
        color: var(--color3);
    }

    & > h2 {
        font-size: 30px;
    }
}

.Founder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color2);
    padding: 10px;

    & > .Image {
        border-radius: 50%;
        overflow: hidden;
        height: 150px;
        width: 150px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & > .Details {
        width: calc(100% - 180px);
        color: var(--color3);
    }
}

@media only screen and (max-width: 620px) {
    .Founder .Details {
        width: 100%;
    }
} 

.OtherDetails {
    width: 100%;
    margin: 20px 0;
    color: var(--color3);

    & .GitHub {
        padding: 5px;
        background-color: var(--color3);
        color: var(--color1);
        box-shadow: 10px 10px 0 var(--color5);

        &:hover, &:focus {
            box-shadow: none;
        }
    }
}

@media only screen and (max-width: 800px) {
    .AboutSection {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Brand h1 {
        font-size: 25px;
    }
}