.AboutSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
	font-size: 18px;
}
.AboutSection a {
    color: var(--mainColor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 2px;
}
.AboutSection a:hover, .AboutSection a:focus {
    text-decoration: none;
    outline: 1px solid var(--mainColor1);
}
.Bio {
	max-width: 500px;
	padding: 20px;
}
.ImgDiv {
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
    margin: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	border-radius: 80px 20px;
	animation: ImgAnim 5s linear infinite alternate;
}
@keyframes ImgAnim {
	25% {
		border-radius: 20px 80px;
	}
	50% {
		border-radius: 80px 20px;
	}
	75% {
		border-radius: 20px 80px;
	}
	100% {
		border-radius: 80px 20px;
	}
}
.Dp {
	text-align: center;
}
.ServicesSection {
	text-align: center;
}
.Services {
	display: flex;
}
.Services > section div {
	padding: 10px;
	margin: 10px;
	box-shadow: 0.1px 0 5px rgba(0,0,0,0.1);
	min-height: 100px;
}
.Services > section div h4 {
	margin: 0;
}
