.BlogPost a {
    color: var(--mainColor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 2px;
}
.BlogPost a:hover, .BlogPost a:focus {
    text-decoration: none;
    outline: 1px solid var(--mainColor1);
}
.BlogTitle {
    color: var(--lightBlue);
    font-size: 40px;
}
.BlogDate {
    color: var(--mainColor1);
    font-weight: bold;
}
.BlogInfo {
    border-bottom: 1px solid var(--mainColor1);
}
.BlogContent {
    line-height: 30px;
    font-size: 20px;
}

/* Markdown custom styles */
.BlogContent blockquote {
    border: 1px solid #aaa;
    border-radius: 10px 20px;
    border-left: 5px solid var(--mainColor1);
    margin: 0;
    padding: 0 20px;
    color: #341d52;
    
}

.BlogContent ul li {
    list-style-type: initial;
}

.BlogContent code[class=language-text] {
    color: var(--mainColor1);
    background-color: pink;
    padding: 3px;
    border-radius: 3px;
}
