.BlogPost a {
    color: var(--mainColor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 2px;
}
.BlogPost a:hover, .BlogPost a:focus {
    text-decoration: none;
    outline: 1px solid var(--mainColor1);
}
.BlogTitle {
    color: var(--lightBlue);
    font-size: 40px;
}
.BlogDate {
    color: var(--mainColor1);
    font-weight: bold;
}
.BlogInfo {
    border-bottom: 1px solid var(--mainColor1);
}
.BlogContent {
    line-height: 30px;
    font-size: 20px;
}