.ContactSection {
    width:  80%;
    margin: 40px auto 0;
}
.ContactSection > p {
	font-size: 18px;
}
.ContactSection form {
    display: flex; 
	flex-direction: column;
	width: 100%;
}
form input {
	width: 100%;
	margin:  0 0 20px;
		
}
form textarea {
	width: 100%;
	max-height: 300px;
	min-height: 300px;
	margin:  0 0 30px;
}

form input, form textarea {
	border-radius: 5px;
	border: 0;
	padding: 10px 20px;
	font-family: 'Antic', 'Helvetica';
	font-size: 16px;
	color: var(--mainColor1);
}
form label {
	margin-left: 20px;
	font-weight: bold;
}

form input:focus, form textarea:focus,
form input:hover:not([type='submit']), form textarea:hover {
	/* background-color: rgb(234, 232, 246); */
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}
.submit_btn {
	display: block;
	width: 250px;
	margin: 5px auto 50px;
	background-color: var(--lightBlue);
    color: var(--mainColor1);
    cursor: pointer;
}
.submit_btn:hover {
	color: var(--mainColor2);
	background-color: var(--mainColor1);
}