@import url(https://fonts.googleapis.com/css?family=Open%20Sans);

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color5); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: var(--color2); */
    background: var(--color2);
    border-radius: 10px;
}

body {

    /* Themes */
    /* color1 - header, page and footer background color
       color2 - navlinks and headers
       color 3 - text color
       color 4 - bloglinks
       color 5 - boxshadow 
    */
    --color1: white;
    --color2: #a52a2a;
    --color3: #333;
    --color4: green;
    --color5: #ddd;
    background-color: var(--color1);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;

    --color1: #262625;
    --color2: #90ee90;
    --color3: white;
    --color4: #8ce21c;
    --color5: #234850;
  }


body {
    margin: 0;
    font-family: 'Open sans', 'Open Sans Light', Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    transition: all 300ms;
}