.TagsSection {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--color2);
        border-radius: 5px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        & h3 {
            color: var(--color2);
            margin: 3px 0;
        }

        & a {
            text-decoration: underline;
            margin: 1px 0;
            color: var(--color3);
            padding: 2px;

            &:hover, &:focus {
                outline: 1px solid var(--color2);
                color: var(--color2);
                text-decoration: none;
            }
        }
    }