.Mainleft {
    width: 20%;
    background-color: var(--mainColor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
    position: fixed;
    top: 0;
    min-height: 100vh;
    padding: 0 10px;
    color: white;
}
.ImgDiv, .ImgDivSmall {
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid var(--mainColor1);
  animation: DpRotate 3s linear infinite alternate;
}
.ImgDiv {
  width: 150px;
  height: 150px;
}
.ImgDivSmall {
  width: 50px;
  height: 50px;
}
@keyframes DpRotate {
  25% {
    border-left-color: var(--mainColor3);
  }
  50% {
    border-bottom-color: var(--mainColor3);
  }
  75% {
    border-right-color: var(--mainColor3);
  }
  100% {
    border-top-color: var(--mainColor3);
  }
}
.Mainleft h1 {
  font-size: 20px;
}

.navSection {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 30px 0 0;
}

@media (max-width: 900px) {
    .Mainleft {
      display: none;
    }
}