.Link {
    padding: 0;
    margin: 0;
    font-size: 17px;
    letter-spacing: 1px;
    color: var(--mainColor2);
    font-weight: bold;
    display: block;
    margin: 7px 0;
}
.Link:hover, .ActiveLink {
    transform: scale(1.1);
    color: white;
}