.Header {
    background-color: var(--color1);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color3);
    padding: 0 20px;
    position: fixed;
    top: 0;

    & .Brand {

        & > a {
            color: var(--color2);
            height: 100%;
            display: flex;
            align-items: center;

            & .Logo {
                display: inline-block;
                width: 40px;
                height: 40px;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .Name {
                font-size: 30px;
            }
        }
    }

    & .DrawerBtn {
        display: none;
    }

}

    

.NavLinks ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;

    & .ActiveLink {
        font-weight: bold;
        color: var(--color2);
        background-color: var(--color2);
        color: var(--color1);
    }

    & li {
        margin: 0 5px;
        // width: 90px;
        width: 40px;
        height: 100%;

        & a {
            display: block;
            width: 100%;
            color: var(--color3);
            text-align: center;
            border-bottom: 1px solid var(--color1);
            padding: 5px;
            font-size: 20px;
            
            &:hover, &:focus {
                background-color: var(--color2);
                color: var(--color1);
            }
        }
    }
}

// @media only screen and (max-width: 670px) {
//     .NavLinks {
//         display: none;
//     }
// }

@media only screen and (max-width: 670px) {
    .Header .Brand a .Name {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .Header .Brand a .Name {
        display: none;
    }
}

// @media only screen and (max-width: 670px) {
//     .Header .DrawerBtn {
//         display: block;
//     }
// }