.LeftContents {
    color: var(--color3);
    justify-content: flex-end;
    border: 1px solid var(--color2);
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    width: 200px;
    margin-bottom: 30px;
    z-index: 1;

    & > * {
        margin: 0;
    }
}

.PageHeader {
    display: none;
    width: 100%;
    margin: 10px auto 0;
    border: 1px solid var(--color1);
    color: var(--color3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    & h2 {
        font-size: 30px;
    }

    & p {
        color: var(--color3);
    }

    & > * {
        margin: 4px 0;
    }
}

.Posts {
    width: 100%;
    margin: 0 auto;
}

.NoSavedPost {
    display: flex;
    align-items: center;
    
    & h1 {
    color: var(--color2);
    font-size: 25px;

    }
}

.Pagination {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        margin: 0 3px;
    }

    & > a {
        color: var(--color2);
        padding: 3px;

        &.ActiveLink {
            border-bottom: 1px solid var(--color2);
        }

        &:hover, &:focus {
            outline: 1px solid var(--color2);
        }
    }
}

@media only screen and (max-width: 800px) {
    .PageHeader {
        display: flex;
    }

    .Pagination a {
        font-size: 14px;
    }
}