.Post {
    width: 100%;
    margin: 20px 0;
    min-height: 200px;
    border: 1px solid var(--color2);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    
    flex-wrap: wrap;
    color: var(--color3);
    box-shadow: 10px 10px 0 var(--color5);
    
    &.FirstPost {
        flex-flow: column;
        max-height: 450px;
        padding: 10px;

        & .PostCover {
            width: 100%;
            height: auto;
            background-color: var(--color3);
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;   
                object-fit: cover;
            }
        }
    }

    & .PostDetails {
        width: 100%;

        & h2 {
            color: var(--color2);
            margin: 3px 0;
            font-size: 30px;
            border-bottom: 1px solid var(--color1);

            &:hover, &:focus {
                border-bottom: 1px solid var(--color2);
            }
        }

        & p {
            margin: 5px 0;
        }

        
        & .Extra {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;

                & p {
                    font-weight: bold;
                    font-size: 14px;
                }

                & button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 5px;

                    &:hover, &:focus {
                        text-decoration: underline;
                    }

                    &.Unsave {
                        color: var(--color2);
                    }

                    &.Save {
                        color: var(--color4);
                    }
                    
                }

        }
    }

}

@media only screen and (max-width: 800px) {
    .Post .PostDetails h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .Post .PostDetails .Extra > p {
        font-size: 11px;
    }
}
