.Footer {
    height: 50px;
    background-color: var(--color1);
    border-top: 1px solid var(--color3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: var(--color3);

    & a {
        color: var(--color2);
        padding: 5px;

        &:hover, &:focus {
            outline: 1px solid var(--color2);
        }
    }

    & > * {
        margin: 1px;
    }

    & .Copyright {
        color: var(--color3);
    }

    & .SocialMedia {
        display: flex;
    }

    & .Repo {
        padding: 5px;
    }
}