.Layout {

    /* Themes */
    /* color1 - header, page and footer background color
       color2 - navlinks and headers
       color 3 - text color
       color 4 - bloglinks
       color 5 - boxshadow 
    */
    --color1: white;
    --color2: #a52a2a;
    --color3: #333;
    --color4: green;
    --color5: #ddd;
    // background-color: var(--color1);
}

.Layout.Dark {
    -webkit-font-smoothing: antialiased;

    --color1: #262625;
    --color2: #90ee90;
    --color3: white;
    --color4: #8ce21c;
    --color5: #234850;
}

.Layout {
    transition: color 0.2s ease-out, background 0.2s ease-out;
    background-color: var(--color1);

    & .OtherMenus {
        position: relative;
        background-color: var(--color1);
        width: 100%;
        min-height: 50px;
        padding: 0 20px;
        position: fixed;
        top: 50px;
        // border-bottom: 1px solid var(--color3);
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > * {
            margin: 0 10px;
        }

        & > .Saved {
            font-size: 25px;
            color: var(--color4);

            &:hover, & .SavedActive {
                color: var(--color2);
            }
        }
    }

    & .BodyContent {
        width: 95%;
        margin: 100px auto 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* calculated to be the height of the page */
        min-height: calc(100vh - 70px - 50px - 50px);
        
        & .FirstSection {
            width: 200px;
            max-height: 100vh;
            margin: 40px 10px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    
        & .SecondSection {
            width: 60%;
            margin: 20px auto 0;
        }
    
    }
}

@media only screen and (max-width: 800px) {
    .Layout .BodyContent .FirstSection {
        display: none;
    }
    .Layout .BodyContent .SecondSection {
        width: 90%;
    }
    // .Layout .BodyContent .ThirdSection {
    //     display: none;
    // }
}