.DarkBtn,
.LightBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 10px;
  width: 25px;

  & i {
    font-size: 25px;
  }

  &:focus {
    outline: 1px solid var(--color1);
  }
}

.DarkBtn i {
  // display: none;
  color: lightgreen;
  text-shadow: 1px 0px 3px lightgreen;
}

.LightBtn i {
  color: orange;
  text-shadow: 1px 0px 3px orange;
}
